extends layout/dashboard
block menu
    ul.nav.nav-pills.nav-stacked
        li.active
            a(href='/') Home
        li
            a(href='/events') Events
        li
            a(href='/issues') Issues
block content
    h1
    .jumbotron(style="padding:20px")
        h1 API Dashboard
        hr
        p.
            Data is pulled from <a target="_blank" href="http://dev.hel.fi/?q=node/4">open data API</a>.