body {
    padding-top: 50px;
}
.navbar{
    border-radius:0;
    margin-bottom:0;
}
.sidebar{
    padding-top: 20px;
}
.main{
    border-left:1px solid #e0e0e0;
}
#issuesList{
}
.ref_box{
    border:1px solid #e0e0e0;
    padding:10px;
    border-radius:5px;
    margin-bottom: 10px;
}
.ref_box p{
    text-align: justify;
}